:root {
  --base-color: #f2e0c9;
  --deep-blue-color: #025959;
  --blue-color: #04adbf;
  --light-blue-color: #04bfbf;
}
/* common */
html,
body,
header,
figure,
ul,
li,
h4,
p,
span,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header start */
.header {
  background-color: var(--deep-blue-color);
  padding: 10px;
  display: flex;
  align-items: center;
}
.header figure {
  display: flex;
  align-items: center;
  color: var(--base-color);
}
.header form {
  width: 100%;
  display: flex;
}
.search {
  width: 100%;
}
/* header end */
