:root {
  --base-color: #f2e0c9;
  --deep-blue-color: #025959;
  --blue-color: #04adbf;
  --light-blue-color: #04bfbf;
  --black-color: #222;
}
/* common */
html,
body,
header,
figure,
ul,
li,
h4,
p,
span,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100vh;
}
body {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
#root {
  height: 100%;
}
/* header start */
.header {
  background-color: var(--deep-blue-color);
  padding: 10px;
  display: flex;
  align-items: center;
}
.header .home_link {
  margin-right: 4px;
}
.header figure {
  display: flex;
  align-items: center;
  color: var(--base-color);
}
.header .logo .fa-earlybirds {
  margin-right: 4px;
}
.header form {
  width: 100%;
  display: flex;
}
.search {
  width: 100%;
}
.search_form button {
  background: none;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s all ease-in;
}
.search_form button:hover {
  background-color: var(--light-blue-color);
  color: var(--base-color);
}
/* header end */

/* Videos start */
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-spinner {
  animation: rotate 2s linear infinite;
  color: var(--deep-blue-color);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.video_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.video_item {
  width: 33%;
  padding: 5px;
  list-style: none;
}
.video_item a {
  color: var(--black-color);
  text-decoration: none;
}
.thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.thumbnail-cover {
  position: absolute;
  background-color: var(--black-color);
  display: flex;
  color: var(--base-color);
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.1s all linear;
}
.thumbnail-cover:hover {
  opacity: 0.8;
}
.thumbnail-cover .fa-play {
  margin-right: 5px;
}
.thumbnail > figure {
  position: absolute;
  top: -16.75%;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnail > figure > img {
  width: 100%;
}
.info h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* Videos end */

/* VideoDetail start */
.video_detail {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.video_detail section {
  flex: 2;
}
.video_detail aside {
  flex: 1;
}
/* VideoDetail end */
